@{
    Layout = "_Layout";
    ViewBag.ActionIndex = "Create";
    ViewBag.ActionCreate = "Create";
}

<h2>@ViewBag.Title</h2>

<p>
    @RenderSection("Create")
</p>

<form asp-action=@ViewBag.ActionIndex method="get">
    <div class="form-horizontal">
        <p>
            Find by: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action=@ViewBag.ActionIndex>Back to full list</a>
        </p>
    </div>
</form>


