@{
    Layout = "_Layout";
    ViewBag.ActionIndex = "Index";
    ViewBag.ActionCreate = "Create";
}


<form asp-action=@ViewBag.ActionIndex method="get">
    <div class="text-center">
        <p>
            Find by: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-action=@ViewBag.ActionIndex>Back to all events</a>
        </p>
    </div>
</form>

@RenderBody()


