@using EventProject.Extensions
@using Core
@model Facade.Event.EventViewModel

@{
    ViewBag.Title = "Edit";
    ViewBag.SubTitle = "Edit Event";
    ViewBag.Button = "Save";
}


<body>

    <h1>Edit @Model.Name Event</h1>
    <div class="row">
        <section>
            <form asp-controller="Event" asp-action="Edit" method="POST" class="form-horizontal" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger"></div>

                <input asp-for="EventImage" class="form-control" type="hidden" />


                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="Name" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Image</label>
                    <div class="col-md-5">
                        <input type="file" name="AvatarFile" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <span class="event-picture">
                            <img class="editable img-responsive" alt="Avatar" id="avatar2" src="~/images/@Model.EventImage" />
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Location" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="Location" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Date" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="Date" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Type" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="Type"
                                asp-items="Html.GetEnumSelectList<EventType>()"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="col-md-2 control-label"></label>
                    <div class="col-md-5">
                        <input asp-for="Description" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">@ViewBag.Button</button>
                    </div>
                </div>

                <p>
                    <a asp-action="Index">Back to Events</a>
                </p>
            </form>
        </section>
    </div>
</body>




